.top-header {
  padding: 20px;
  border-bottom: 2px solid #00f;
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 24px;
    color: #00f;
    letter-spacing: 1px;
    font-weight: 300;
  }
}
